{% block head %}
<style>
	body {
		text-align: center;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	ul.navbar {
		padding: 0;
	}
	li.completed {
		text-decoration: line-through;
	}
	li.today {
		color: green;
	}
	li.past {
		color: red;
	}
	li.date-links {
		display: inline;
		flex-grow: 1;
	}
	li.date-links > a {
		text-decoration: none;
	}

</style>
{% endblock %}

{% block body %}

<ul>
	<form action="{{ url_for('add_to_do') }}" method=post class=add-to-do>
		<li><input type=text size=30 name="item" placeholder="Add to-do"></li>
	</form>
	<form action="{{ url_for('complete_to_do') }}" method=post class=complete-to-do>
	{% for to_do in today_to_dos %}
		<li class="today"><input type="checkbox" name="{{ to_do.item }}" value="yes"> {{ to_do.item }} (created on {{ to_do.entry_time }})</li>
	{% endfor %}
	{% for to_do in past_to_dos %}
		<li class="past"><input type="checkbox" name="{{ to_do.item }}" value="yes"> {{ to_do.item }} (created on {{ to_do.entry_time }})</li>
	{% endfor %}
		<br>
		<input type="submit" name="btn" value="Complete">
		<input type="submit" name="btn" value="Delete">
	</form>
</ul>

<hr>
<h3>Completed on {{ today }}</h3>
<ul>
{% for to_do in today_completed_to_dos %}
	<li class="completed">{{ to_do.item }}</li>
{% endfor %}

</ul>

{% endblock %}

<hr>
<ul class="navbar">
	<li class="date-links"><a href="/to_do/{{ yesterday }}">{{ yesterday }}</a></li> |
	<li class="date-links"><a href="/to_do/today">Today</a></li> |
	<li class="date-links"><a href="/to_do/{{ tomorrow }}">{{ tomorrow }}</a></li>
</ul>